.userForm {
    display: flex;
    gap:15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userForm input {
    width: 25%;
    font-size: 25px;
    border-radius: 9px;
    padding:5px;
}